name: Release
on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - os: ubuntu-latest
            rust_target: x86_64-unknown-linux-gnu
            target: linux_x86_64
            host: linux
          - os: macos-latest
            rust_target: x86_64-apple-darwin
            target: macos_x86_64
            host: macos_x86_64
          - os: macos-latest
            rust_target: aarch64-apple-darwin
            target: macos_aarch64
            host: macos_arm64 
          - os: windows-latest
            rust_target: x86_64-pc-windows-msvc
            target: windows_x86_64
            host: win64
 
    runs-on: ${{ matrix.platform.os }} 
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
          target: ${{ matrix.platform.rust_target }}
      - name: Install Linux dependencies
        if: matrix.platform.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends libasound2-dev libudev-dev libwayland-dev
      - name: fmt
        run: cargo fmt --all -- --check
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: Build
        run: cargo build --verbose --release
      - name: Run tests
        run: cargo test --verbose
      - name: create output file 
        run: |
          mkdir output
          mv assets output
      - name: rename Binaries and add permission 
        if: matrix.platform.os != 'windows-latest'
        run: |
          mv target/release/kataster output/kataster
          sudo chmod +x output/kataster
      - name: rename Binaries on Windows 
        if: matrix.platform.os == 'windows-latest'
        run: mv target/release/kataster.exe output/kataster.exe
      - name: zip folder on Windows 
        if: matrix.platform.os == 'windows-latest'
        run:  Compress-Archive -Path (Get-ChildItem -Path output) -DestinationPath kataster-${{ github.ref_name }}_${{ matrix.platform.target }}.zip
      - name: zip folder on Linux and MacOs
        if: matrix.platform.os != 'windows-latest'
        run: |
          cd output
          zip -r ../kataster-${{ github.ref_name }}_${{ matrix.platform.target }}.zip ./*
      - name: Upload to Speedupdateserver
        run: curl -X POST -F "file=@kataster-${{ github.ref_name }}_${{ matrix.platform.target }}.zip" ${{ secrets.SPEEDUPDATE_URL }}/sparus/game/binaries/${{ matrix.platform.host }}
      - name: Upload file
        uses: softprops/action-gh-release@v2
        with:
          files: kataster-${{ github.ref_name }}_${{ matrix.platform.target }}.zip
